@model dynamic

@{
    ViewBag.Title = "MaRin Tools - Tools to make your life easier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MaRin Tools - Tools to make your life easier</h2>

<p>This tools page is currently under construction. In the future, all my useful open source tools will be automatically published here.</p>

<p>Simply go to <a href="https://github.com/ManuelRin/MaRin-Tools" target="blank">my GitHub repository</a> to browse, get or contribute to the source code.</p>